*{
    margin: 0;
    padding: 0;
}
.navbar_li{
    padding: 30px;
    list-style-type: none;
    background-color:lightyellow;
}
.navbar_li img{
    border-radius: 30px;
    height: 40px;
    width: 40px;
}
.navbar_li li a{
    color: black;
}
.navbar_list{
    float: right;
    text-align: right;
    display: inline;
    margin: 12px;
}
.navbarn .navbar_li{
    display: flex;
}
.inner_text{
    text-align: center;
    text-decoration: none;
    background: wheat;
    margin: 10px;
}
.col-lg-8{
    border: 3px solid black;
    background-color:lightyellow;
    border-style: inset;
    border-radius: 15px;
    margin-left: -10px;
}
.port-img{
    border: 3px solid black;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.edu{
    border: 3px solid black;
    border-style: inset;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color:lightyellow;
}
.edu_li{
    margin-left: 100px;
}
.row{
    margin-right: -15px;
    margin-left: -20px;
    flex-wrap: wrap;
    display: flex;

}